* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#netflix-icon {
    width: 14rem;
    height: 8rem;
}

#dropdown-signup-btn-container {
    display: flex;
    align-items: center;
    padding-right: 10rem;
}

#netflix-icon-container {
    padding-left: 10rem;
}

#language-dropdown {
    margin-right: 3rem;
    width: 7rem;
    height: 2rem;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    border-radius: 0.3rem;
    background-color: black;
    color: aliceblue;
}

#sign-up-btn {
    width: 5rem;
    height: 2rem;
    font-weight: 500;
    font-size: 1rem;
    background-color: red;
    color: aliceblue;
    border-radius: 0.3rem;
}

#sign-up-btn:hover {
    background-color: rgb(255, 0, 0, 0.9);
    transition-duration: 0.3s;
    cursor: pointer;
}

#main-heading {
    color: aliceblue;
    font-size: 2rem;
}

#main-container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#sub-heading {
    margin-top: 1rem;
    color: aliceblue;
    font-size: 1.3rem;
}

#email-heading {
    color: aliceblue;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#email-btn-container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
}

#email-input {
    background-color: rgb(196, 196, 248, 0.3);
    width: 20rem;
    height: 3rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    color: aliceblue;
    border: 0.05rem solid;
    border-color: aqua;
}

#getstarted-btn {
    background-color: red;
    width: 13rem;
    height: 3.35rem;
    color: aliceblue;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    /* padding-inline: 2rem; */
    border: none;
}

#getstarted-btn[placeholder] {
    color: red;
}

#getstarted-btn i {
    background-color: red;
}

#getstarted-btn:hover {
    background-color: rgb(255, 0, 0, 0.9);
    transition-duration: 0.3s;
    cursor: pointer;
}

#container {
    height: 100vh;
    background-image: url("Untitled\ design\ \(2\).png");
    background-size: cover;
}

#Page2 {
    height: 75vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 0.7rem solid rgb(128, 128, 128, 0.4);
    border-bottom: 0.7rem solid rgb(128, 128, 128, 0.4);
}

#page-2-text-area {
    width: 40rem;
}

#page-2-text-area-main-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#page-2-text-area-sub-heading {
    font-size: 1.7rem;
}

#page-3 {
    height: 75vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 0.7rem solid rgb(128, 128, 128, 0.4);
}

#page-3-text-area {
    width: 33rem;
}

#page-3-text-area-main-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#page-3-text-area-sub-heading {
    font-size: 1.5rem;
}

#page-4 {
    height: 75vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 0.7rem solid rgb(128, 128, 128, 0.4);
}

#page-4-text-area {
    width: 30rem;
}

#page-4-text-area-main-heading {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#page-4-text-area-sub-heading {
    font-size: 1.3rem;
}

#page-5 {
    height: 75vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 0.7rem solid rgb(128, 128, 128, 0.4);
}

#page-5-text-area {
    width: 30rem;
}

#page-5-text-area-main-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#page-5-text-area-sub-heading {
    font-size: 1.3rem;
}

#page-6 {
    height: 120vh;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0.7rem solid rgb(128, 128, 128, 0.4);
}

#page-6-text-area-main-heading {
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 2rem;
}
#question-1,#question-2,#question-3,#question-4,#question-5,#question-6 {
    width: 80%;
    height: 5.3rem;
    background-color: rgb(128, 128, 128,0.4);
    padding-left: 1rem;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    margin-bottom:  0.5rem;
    justify-content: space-between;
}
#question-1:hover,#question-2:hover,#question-3:hover,#question-4:hover,#question-5:hover,#question-6:hover {
    transition-duration: 0.2s;
    cursor: pointer;
    background-color: gray;
}
#page-6 i {
    padding-right: 2rem;
}